{# Collapsible sections on Content Type Resource Page #}
<div>
  <details>
    <summary>{{ field_summary[0]["value"] }}</summary>
    <div class="dcf-pt-2">
    {{ render(content.field_full_text) }}
    </div>
  </details>
</div>