<div class="dcf-pb-7">
  {% if field_intro %}
  <div class="dcf-pb-6">{{ render(content.field_intro) }}</div>
  {% endif %}
  <div class="dcf-w-max-lg">
  {% if field_collapsible_section %}
  {{ render(content.field_collapsible_section) }}
  {% endif %}
  </div>
</div>