<div class="dcf-mt-6">
  <h2>Staff profiles - current list</h2>
  <div class="dcf-mt-4 dcf-columns-2@sm dcf-columns-3@lg dcf-col-gap-vw">
    {% for row in rows %}
      <div class="dcf-mb-4">
        {{ row }}
      </div>
    {% endfor %}
  </div>
</div>